$primaryColor: #db0000;
$secondaryColor: #afafaf;
$fontColor: #333;

$defaultFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$menuColor: #FF6B6C;
$gutter: 16px;

